*{
    margin: 0;
    padding: 0;
    
}
/* #546E7A */

.div1{
    /* background-color: #546E7A; */
   background-color: #34495e;
    width: 100%;
    height: 75px;
    display: flex;
    /* align-items:flex-end; */
    justify-content: flex-end;
   
    
}
.div2{
    /* background-image: url("/IMAGES/img1.jpg"); */
    width: 100%;
    height: 89.5vh;
    background-size: cover;
    opacity: 1;
    

}
.sarvesh{
    display: flex;
    font-size: 25px;
    

    

}
.div1 nav ul li a{
    color: white;
    padding: 30px;
    text-decoration: none;

}
.div1 nav ul li{
    list-style: none;
    margin-top: 22px;
    

}
.pratik{
    margin-left: 20px;
}
.pratik img{
    /* flex: 0; */
    cursor: pointer;
}

nav ul li a::before{
    color: white;
}
.nav-link{
    display: flex;
    
  
    margin-right: 50px;
}
.nav-link .pratik img{
    margin-right:750px;
}
.div2 h1{
    position:absolute;
    top:52%;
    left: 35%;
    font-size:30px;
    /* color:#00838F; */
    /* color:#37474F; */
    /* color:#2E7D32; */
    color:#00695C;
}
.bg{
    width: 150px;
    height:5vh;
    border: 1px solid black;
    border-radius:10px;
    position:absolute;
    top:75%;
    left:45%;
    background-color:#00695C ;
    

}
.bg a{
text-decoration:none;
color:white;
}
.bg:focus {  
    outline: 0;  
   }  
.bg:active {  
    transform: scale(0.98);  
   }   
.bg:hover{
    font-color:#009688;
}
/* #nav-items:hover{
    color:blue;

} */



    



    