<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/book.css' %}" />
</head>

<body style="background-image:url('{% static 'IMAGES/background.jpg' %}')">
    

    <div class="main">
        
        <div class="container">
            <h1>Book Your Appointment</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-control">
                    <input type="text" required="" name="your_name">
                    <label>Your name</label>
                </div>
                <div class="form-control">
                    <input type="text" required="" name="phone">
                    <label>Phone Number</label>
                </div>
                
                <div class="form-control">
                    <input type="mail" required="" name="mail">
                    <label type="email"> E-Mail</label>
                </div>
                <div>
                    <input type="radio" class="radio-button" name="rb" value="Male">
                    <label type="email">Male</label>
                    
                    <input type="radio" class="radio-button" name="rb" value="Female">
                    <label type="email">Female</label>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>

<script src="/static/JAVASCRIPT/book.js"></script>
</div>
</body>

</html>