<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-page</title>
    {% load static %}
    
     <link rel="stylesheet" type="text/css" href="{% static 'CSS/contact.css' %}" />
</head>
<body>
   <div class="main">
    <h1>Contact Us </h1>
       <div class="div1">
        <h3> Clinc Address</h3>
        <p>
         Acharya Donde Marg, Parel East, Parel<br>
          Mumbai, Maharashtra 400012
        </p>
       </div>
       <div class="div2">
        <h3>Contact Numbers</h3>
        <p>
         Hours: 
         Open 12+ hours <br>
         Phone: 022 2410 7000
        </p>
       </div>
       
       
       


   </div>
</body>
</html>