<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Are you..?</title>
    <link rel="stylesheet" href="/static/CSS/whoru.css">
</head>
<body>
    <div class="container">  
        <h1>Who Are You..?</h1> 
        <form>
            <button class="btn">
                <a href="login" target="_self"> Receptionist</a></a>
                
            <button class="btn">
                <a href="table1" target="_self"> Patient</a></a>
            </button>
        
        </form>
        </div>
        
</body>
</html>